<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин футболок</title>
</head>
<body>
        <div style="text-align:center;">
        <h1>Футболки</h1>
        <ul>
            <li>Футболка с начёсом
                <button>
                    <h4>Купить</h4>
                </button>
            </li>
            <li>Футболка зимняя
                <button>
                    <h4>Купить</h4>
                </button>
            </li>
            <li>Футболка простая
                <button>
                    <h4>Купить</h4>
                </button>
            </li>
            <li><a href="http://127.0.0.1:8000/">Вернуться обратно</a></li>
        </ul>
    </div>
</body>
</html>